<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/styles/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container">
        {{> nav}}

        <div class="header_section text-center">
            <h1>We Are Fullstack Web Developer & Mentor</h1>
            <p>I design and code beautifully simple things, and I love what I do.</p>
            <img src="public/images/code-of-conduct.png" alt="hero">
        </div>

        <div class="hero_section" id="home">
            <img src="public/images/hero-devices.svg" alt="hero image" width="500px">
            <div class="bg-primary p-5 text-center text-light">
                <h2>Hi, I’m Ankit. Nice to meet you.</h2>
                <p>Since beginning my journey as a freelance designer over 11 years ago, I've done remote work for
                    agencies, consulted for startups, and collaborated with talented people to create digital products
                    for both business and consumer use. I'm quietly confident, naturally curious, and perpetually
                    working on improving my chops one design problem at a time.</p>
            </div>
        </div>
        <div class="row card_state">
            <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="card border-0 p-5 shadow">
                    <div class="card-header bg-white border-0">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="card-title text-center">
                        <h4>Frontend Developer</h4>
                        <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
                    </div>

                    <div class="card-body text-center">
                        <h5 class="text-primary">Languages I speak:</h5>
                        <p>HTML, Pug, Slim, CSS, Sass, Git</p>
                        <hr class="mb-4">
                        <h6 class="text-primary">Dev Tools:</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">VS Code</li>
                            <li class="list-group-item">Bitbucket</li>
                            <li class="list-group-item">Bootstrap</li>
                            <li class="list-group-item">Codekit</li>
                            <li class="list-group-item">Github</li>
                            <li class="list-group-item">Terminal</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="card border-0 p-5 shadow">
                    <div class="card-header bg-white border-0">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="card-title text-center">
                        <h4>Frontend Developer</h4>
                        <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
                    </div>

                    <div class="card-body text-center">
                        <h5 class="text-primary">Languages I speak:</h5>
                        <p>HTML, Pug, Slim, CSS, Sass, Git</p>
                        <hr class="mb-4">
                        <h6 class="text-primary">Dev Tools:</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">VS Code</li>
                            <li class="list-group-item">Bitbucket</li>
                            <li class="list-group-item">Bootstrap</li>
                            <li class="list-group-item">Codekit</li>
                            <li class="list-group-item">Github</li>
                            <li class="list-group-item">Terminal</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="card border-0 p-5 shadow">
                    <div class="card-header bg-white border-0">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="card-title text-center">
                        <h4>Frontend Developer</h4>
                        <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
                    </div>

                    <div class="card-body text-center">
                        <h5 class="text-primary">Languages I speak:</h5>
                        <p>HTML, Pug, Slim, CSS, Sass, Git</p>
                        <hr class="mb-4">
                        <h6 class="text-primary">Dev Tools:</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">VS Code</li>
                            <li class="list-group-item">Bitbucket</li>
                            <li class="list-group-item">Bootstrap</li>
                            <li class="list-group-item">Codekit</li>
                            <li class="list-group-item">Github</li>
                            <li class="list-group-item">Terminal</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="service text-center" id="service">
            <h2>Our Service</h2>
            <p>Consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
            <div class="row">
                <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/images/appdevelopment.png" alt="">
                        </div>
                        <div class="card-title text-center">
                            <h5>App Development</h5>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima et ipsam facilis animi
                                tempora pariatur, alias iste velit consequatur optio aspernatur, voluptates, doloremque
                                tenetur natus similique quam vero amet nesciunt.</p>
                            <button type="button" class="btn btn-primary">learn More</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/images/appdevelopment.png" alt="">
                        </div>
                        <div class="card-title text-center">
                            <h5>App Development</h5>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima et ipsam facilis animi
                                tempora pariatur, alias iste velit consequatur optio aspernatur, voluptates, doloremque
                                tenetur natus similique quam vero amet nesciunt.</p>
                            <button type="button" class="btn btn-primary">learn More</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/images/appdevelopment.png" alt="">
                        </div>
                        <div class="card-title text-center">
                            <h5>App Development</h5>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima et ipsam facilis animi
                                tempora pariatur, alias iste velit consequatur optio aspernatur, voluptates, doloremque
                                tenetur natus similique quam vero amet nesciunt.</p>
                            <button type="button" class="btn btn-primary">learn More</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/images/appdevelopment.png" alt="">
                        </div>
                        <div class="card-title text-center">
                            <h5>App Development</h5>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima et ipsam facilis animi
                                tempora pariatur, alias iste velit consequatur optio aspernatur, voluptates, doloremque
                                tenetur natus similique quam vero amet nesciunt.</p>
                            <button type="button" class="btn btn-primary">learn More</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/images/appdevelopment.png" alt="">
                        </div>
                        <div class="card-title text-center">
                            <h5>App Development</h5>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima et ipsam facilis animi
                                tempora pariatur, alias iste velit consequatur optio aspernatur, voluptates, doloremque
                                tenetur natus similique quam vero amet nesciunt.</p>
                            <button type="button" class="btn btn-primary">learn More</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/images/appdevelopment.png" alt="">
                        </div>
                        <div class="card-title text-center">
                            <h5>App Development</h5>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima et ipsam facilis animi
                                tempora pariatur, alias iste velit consequatur optio aspernatur, voluptates, doloremque
                                tenetur natus similique quam vero amet nesciunt.</p>
                            <button type="button" class="btn btn-primary">learn More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mt-5 mb-5">
        <div class="work_section">
            <h3>I'm proud to have collaborated with some awesome companies:</h3>
            <div class="row">
                <div class="col-6 col-md-4 col-lg-4 mt-5">
                    <img src="public/images/redstamp.svg" class="border" alt="">
                </div>
                <div class="col-6 col-md-4 col-lg-4 mt-5">
                    <img src="public/images/redstamp.svg" class="border" alt="">
                </div>
                <div class="col-6 col-md-4 col-lg-4 mt-5">
                    <img src="public/images/redstamp.svg" class="border" alt="">
                </div>
                <div class="col-6 col-md-4 col-lg-4 mt-5">
                    <img src="public/images/redstamp.svg" class="border" alt="">
                </div>
                <div class="col-6 col-md-4 col-lg-4 mt-5">
                    <img src="public/images/serpmetrics.svg" class="border" alt="">
                </div>
                <div class="col-6 col-md-4 col-lg-4 mt-5">
                    <img src="public/images/redstamp.svg" class="border" alt="">
                </div>
            </div>
        </div>
        <hr class="mt-5 mb-5">

        <div class="contact_us" id="contact">
            <form method="POST" action="/contactdata">
                <h2 class="text-center">Contact Us</h2>
                <p class="text-center">Contact The Help Team</p>
                <div class="mb-3">
                    <label for="username" class="form-label">user name </label>
                    <input name="user" type="text" class="form-control" id="username">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="" class="mb-2">type your message here...</label>
                    <div class="form-floating">
                        <textarea name="msg" class="form-control" placeholder="Leave a comment here"
                            id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Comments</label>
                    </div>
                </div>
                <button name="submit" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <div class="footer bg-light" id="about">
            <img src="public/images/logoo.png" alt="logo">

            <h3>Living, learning, & leveling up one day at a time.</h3>

            <div class="social_icons">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-instagram"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
            </div>
            <p>
                Handcrafted by me © twentytwentytwo</p>
        </div>
    </div>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>